@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    background-color:burlywood
}

header{
    background-color:sienna;
    align-items: center;
    padding: 15px;
    color:cornsilk;
}

li{
	list-style-type: none;
}

h1{
    font-size: 35px;
}

h2{
    padding: 30px 0 30px 0;
    font-size: 35px;
}

.container{
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 25px;
}